<header class="mb-5">
  <nav>
    <div class="navbar-logo">
      <a href="#"><img src="../../../../assets/logo_sin_fondo.png" class="logo"></a>
    </div>
    <div class="boton-menu">
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
          <i class="bx bx-menu" ></i>
      </label>
      <ul class="navbar-menu">
          <li><a routerLink="/productos">Productos</a></li>
          <li><a routerLink="/usuarios">Usuarios</a></li>
          <li *ngIf="valor" style="cursor: pointer;"><a (click)="cerrarSesion()">Cerrar Sesión</a></li>
      </ul>
  </div>
  </nav>
</header>
