<header >
  <nav>
    <div class="navbar-logo">
      <a href="#"><img src="../../../../assets/logo_sin_fondo.png" class="logo"></a>
    </div>
    <div class="boton-menu">
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
          <i class="bx bx-menu" ></i>
      </label>
      <ul class="navbar-menu">
          <li *ngIf=" isAdmin "><a routerLink="/productos">Productos</a></li>
          <li *ngIf=" isAdmin "><a routerLink="/usuarios">Usuarios</a></li>          
          <login-register (onUserSessionChanged)="getUserRol()"></login-register>
      </ul>
  </div>
  </nav>
</header>
