<!-- <header>
  <nav>
    <div class="navbar-logo">
      <img src="../../../../assets/logo_sin_fondo.png" class="logo">
    </div>
  </nav>
</header> -->

<header class="mb-5">
  <nav>
    <div class="navbar-logo">
      <a href="#"><img src="../../../../assets/logo_sin_fondo.png" class="logo"></a>
    </div>
    <div class="boton-menu">
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
          <i class="bx bx-menu" ></i>
      </label>
      <ul class="navbar-menu">
          <!-- <li><a routerLink="/productos">Productos</a></li> -->
          <!-- <li><a routerLink="/usuarios">Usuarios</a></li> -->
          <!-- <li *ngIf="valor; else iniciarSesion" style="cursor: pointer;"><a (click)="cerrarSesion()">Cerrar Sesión</a></li>
          
          <ng-template #iniciarSesion>
            <li style="cursor: pointer;"><a (click)="cerrarSesion()">Iniciar Sesión</a></li>
          </ng-template> -->
          
      </ul>
  </div>
  </nav>
</header>