<footer class="pie-pagina">
  <div class="grupo-1">
      <div class="box">
          <h2>Contacto</h2>
          <p>WhatsApp: 970 315 608</p>
          <p>Teléfono: 645-9711</p>
          <p>{{'email: atencionalcliente@rincondeltaco.com'}}</p>
      </div>
  </div>
  <div class="grupo-2">
      <a href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a>
  </div>
</footer>
